<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .div1 {

            border: 1px solid blue;
            height: 200px;
            width: 300px;
            padding: 20px;
            margin: 20px;
            box-sizing: border-box;

        }

        .div2 {

            border: 1px solid blue;
            height: 200px;
            width: 300px;
            padding: 40px;
            margin: 20px;
            box-sizing: border-box;

        }
    </style>
</head>

<body>
    <div class="container">

        <div class="div1"> Box 1</div>
        <div class="div2"> box 2</div>
    </div>
</body>

</html>