<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>*{ margin:0px;
    padding: 0;}
        p{
            display: inline-block;
            border: 1px solid;
            margin-top: 10px;

        }
        span{
            margin-top: 10px;
            float :right;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Volupta
        tum ea iste quod.</span>
</body>
</html>