<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      p{
        color: greenyellow;
        border: 2px solid black;
      }
 em{
  border: inherit ;
 }
 #iht{
  color: red;
 }
a,p{
  color: inherit;
}
    </style>

<body>
<p>Lorem ipsum dolor sit amet consectetur <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias deleniti voluptate maxime sunt odit temporibus amet libero laboriosam. Molestias obcaecati veritatis accusantium porro.</em> adipisicing elit. Esse ab vel dolor ullam!</p>
      

<div id="iht">
  <h1> hello iam h1</h1>
  <p> Hii hw u</p>
  <a href="#">Google</a>
</div>


</body>
</html>